<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.github.mpichler94.browser.HttpClient" level="INFO"/>
    <logger name="io.github.mpichler94.browser.Browser" level="INFO"/>
    <logger name="io.github.mpichler94.browser.CssParser" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>